table{
    border-collapse: collapse;
    border-bottom: 1px solid gray;
}

table th {
    padding: 5px 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

table td {
    padding: 20px;
}